<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290033255785-ae2t58evk7bljo52u7r53kgkqb5i3tci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290033255785-ae2t58evk7bljo52u7r53kgkqb5i3tci</string>
	<key>API_KEY</key>
	<string>AIzaSyCCGZBbh-kFtA7LIxOyAgeHWS8Rkp4GpHo</string>
	<key>GCM_SENDER_ID</key>
	<string>290033255785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haffez</string>
	<key>PROJECT_ID</key>
	<string>hafz-fd86b</string>
	<key>STORAGE_BUCKET</key>
	<string>hafz-fd86b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290033255785:ios:a847f1d508eba7138a29f8</string>
</dict>
</plist>